.favor-hist__wrapper {
    position: relative;
    background-color: #ffffff;
}

#favor-hist__checkbox {
  height: 0;
  width: 0;
  margin: -1px;
  
  &:checked + .favor-hist {
    visibility: visible;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
}

.favor-hist {
    visibility: hidden;
    position: absolute;
    width: 400px;
    height: 570px;
    top: -565px;
    padding: 10px; 
    padding-top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
  }

.favor-hist__icon {
  position: absolute;
  border-bottom: 10px double #858585;
  border-top: 3px solid #858585;
  content: "";
  height: 4px;
  width: 25px;
  top: -599px;
  left: 20px;
  cursor: pointer;
}
